<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/js/productDetailView.js"></script>
  <script th:inline="javascript">
        $(document).ready(function() {
            var productId = window.location.pathname.split('/').pop();
            loadProductDetail(productId);
            loadCatalog(productId);
        });
    </script>

  <style>
        section {
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
        }
    </style>
</head>
<body>

<h1>Product Detail Page</h1>

<section id="productDetailContainer"></section>
<section id="productCatalogContainer"></section>

</body>
</html>